<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./group.css">
    <title>Join-Group</title>
</head>

<body>
    <header>
        <div class="head-container">
            <div class="logo">
                <img src="logo.png" alt="" srcset="">
                <!-- <span>Chatzz!com-GroupChat</span> -->
                 <p>"Even without meeting stay Connected</p>
            </div>
        </div>
    </header>
    <main>
        <div class="groupJoiner"></div>
    </main>
    <script src="../public/joingroup.js"></script>
    <script src="../public/group.js"></script>
    <script src="../public/creategroup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
</body>

</html>